# ================================================
# IGNORAR CONTENIDO PESADO Y DEJAR SOLO EJEMPLOS
# PARA N=10_000
# ================================================

nuevos/

# Ignorar todo dentro de las carpetas principales
data/N=10_000/0_40/*
data/N=10_000/0_50/*
data/N=10_000/0_60/*
data/N=10_000/0_70/*
data/N=10_000/0_80/*
data/N=10_000/0_81/*
data/N=10_000/0_82/*
data/N=10_000/0_83/*
data/N=10_000/0_84/*
data/N=10_000/0_85/*
data/N=10_000/0_86/*
data/N=10_000/0_87/*
data/N=10_000/0_88/*
data/N=10_000/0_90/*

# PERMITIR carpetas intermedias para que git vea los archivos
!data/N=10_000/0_40/dat/
!data/N=10_000/0_50/dat/
!data/N=10_000/0_60/dat/
!data/N=10_000/0_70/dat/
!data/N=10_000/0_80/dat/
!data/N=10_000/0_81/dat/
!data/N=10_000/0_82/dat/
!data/N=10_000/0_83/dat/
!data/N=10_000/0_84/dat/
!data/N=10_000/0_85/dat/
!data/N=10_000/0_86/dat/
!data/N=10_000/0_87/dat/
!data/N=10_000/0_88/dat/
!data/N=10_000/0_90/dat/

!data/N=10_000/0_40/dat_order_parameters/
!data/N=10_000/0_50/dat_order_parameters/
!data/N=10_000/0_60/dat_order_parameters/
!data/N=10_000/0_70/dat_order_parameters/
!data/N=10_000/0_80/dat_order_parameters/
!data/N=10_000/0_81/dat_order_parameters/
!data/N=10_000/0_82/dat_order_parameters/
!data/N=10_000/0_83/dat_order_parameters/
!data/N=10_000/0_84/dat_order_parameters/
!data/N=10_000/0_85/dat_order_parameters/
!data/N=10_000/0_86/dat_order_parameters/
!data/N=10_000/0_87/dat_order_parameters/
!data/N=10_000/0_88/dat_order_parameters/
!data/N=10_000/0_90/dat_order_parameters/

# Ignorar todo entro de dat/
data/N=10_000/0_40/dat/*
data/N=10_000/0_50/dat/*
data/N=10_000/0_60/dat/*
data/N=10_000/0_70/dat/*
data/N=10_000/0_80/dat/*
data/N=10_000/0_81/dat/*
data/N=10_000/0_82/dat/*
data/N=10_000/0_83/dat/*
data/N=10_000/0_84/dat/*
data/N=10_000/0_85/dat/*
data/N=10_000/0_86/dat/*
data/N=10_000/0_87/dat/*
data/N=10_000/0_88/dat/*
data/N=10_000/0_90/dat/*

# EXCEPTUAR archivos específicos en dat/
!data/N=10_000/0_40/dat/culture_initial_number_of_cells=10000_density=0.4_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_50/dat/culture_initial_number_of_cells=10000_density=0.5_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_60/dat/culture_initial_number_of_cells=10000_density=0.6_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_70/dat/culture_initial_number_of_cells=10000_density=0.7_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_80/dat/culture_initial_number_of_cells=10000_density=0.8_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_81/dat/culture_initial_number_of_cells=10000_density=0.81_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_82/dat/culture_initial_number_of_cells=10000_density=0.82_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_83/dat/culture_initial_number_of_cells=10000_density=0.83_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_84/dat/culture_initial_number_of_cells=10000_density=0.84_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_85/dat/culture_initial_number_of_cells=10000_density=0.85_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_86/dat/culture_initial_number_of_cells=10000_density=0.86_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_87/dat/culture_initial_number_of_cells=10000_density=0.87_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_88/dat/culture_initial_number_of_cells=10000_density=0.88_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_90/dat/culture_initial_number_of_cells=10000_density=0.9_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat

# Ignorar todo dentro de dat_order_parameters/
data/N=10_000/0_40/dat_order_parameters/*
data/N=10_000/0_50/dat_order_parameters/*
data/N=10_000/0_60/dat_order_parameters/*
data/N=10_000/0_70/dat_order_parameters/*
data/N=10_000/0_80/dat_order_parameters/*
data/N=10_000/0_81/dat_order_parameters/*
data/N=10_000/0_82/dat_order_parameters/*
data/N=10_000/0_83/dat_order_parameters/*
data/N=10_000/0_84/dat_order_parameters/*
data/N=10_000/0_85/dat_order_parameters/*
data/N=10_000/0_86/dat_order_parameters/*
data/N=10_000/0_87/dat_order_parameters/*
data/N=10_000/0_88/dat_order_parameters/*
data/N=10_000/0_90/dat_order_parameters/*

# EXCEPTUAR archivos específicos en dat_order_parameters/ (prefijo op_)
!data/N=10_000/0_40/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.4_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_50/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.5_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_60/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.6_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_70/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.7_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_80/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.8_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_81/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.81_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_82/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.82_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_83/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.83_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_84/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.84_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_85/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.85_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_86/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.86_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_87/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.87_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_88/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.88_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=10_000/0_90/dat_order_parameters/op_culture_initial_number_of_cells=10000_density=0.9_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat


# ================================================
# IGNORAR CONTENIDO PESADO Y DEJAR SOLO EJEMPLOS
# PARA N=5_000
# ================================================

# Ignorar todo dentro de las carpetas principales
data/N=5_000/0_40/*
data/N=5_000/0_50/*
data/N=5_000/0_60/*
data/N=5_000/0_70/*
data/N=5_000/0_80/*
data/N=5_000/0_81/*
data/N=5_000/0_82/*
data/N=5_000/0_83/*
data/N=5_000/0_84/*
data/N=5_000/0_85/*
data/N=5_000/0_86/*
data/N=5_000/0_87/*
data/N=5_000/0_88/*
data/N=5_000/0_90/*

# PERMITIR carpetas intermedias
!data/N=5_000/0_40/dat/
!data/N=5_000/0_50/dat/
!data/N=5_000/0_60/dat/
!data/N=5_000/0_70/dat/
!data/N=5_000/0_80/dat/
!data/N=5_000/0_81/dat/
!data/N=5_000/0_82/dat/
!data/N=5_000/0_83/dat/
!data/N=5_000/0_84/dat/
!data/N=5_000/0_85/dat/
!data/N=5_000/0_86/dat/
!data/N=5_000/0_87/dat/
!data/N=5_000/0_88/dat/
!data/N=5_000/0_90/dat/

!data/N=5_000/0_40/dat_order_parameters/
!data/N=5_000/0_50/dat_order_parameters/
!data/N=5_000/0_60/dat_order_parameters/
!data/N=5_000/0_70/dat_order_parameters/
!data/N=5_000/0_80/dat_order_parameters/
!data/N=5_000/0_81/dat_order_parameters/
!data/N=5_000/0_82/dat_order_parameters/
!data/N=5_000/0_83/dat_order_parameters/
!data/N=5_000/0_84/dat_order_parameters/
!data/N=5_000/0_85/dat_order_parameters/
!data/N=5_000/0_86/dat_order_parameters/
!data/N=5_000/0_87/dat_order_parameters/
!data/N=5_000/0_88/dat_order_parameters/
!data/N=5_000/0_90/dat_order_parameters/

# Ignorar todo dentro de dat/
data/N=5_000/0_40/dat/*
data/N=5_000/0_50/dat/*
data/N=5_000/0_60/dat/*
data/N=5_000/0_70/dat/*
data/N=5_000/0_80/dat/*
data/N=5_000/0_81/dat/*
data/N=5_000/0_82/dat/*
data/N=5_000/0_83/dat/*
data/N=5_000/0_84/dat/*
data/N=5_000/0_85/dat/*
data/N=5_000/0_86/dat/*
data/N=5_000/0_87/dat/*
data/N=5_000/0_88/dat/*
data/N=5_000/0_90/dat/*

# EXCEPTUAR archivos específicos en dat/
!data/N=5_000/0_40/dat/culture_initial_number_of_cells=5000_density=0.4_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_50/dat/culture_initial_number_of_cells=5000_density=0.5_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_60/dat/culture_initial_number_of_cells=5000_density=0.6_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_70/dat/culture_initial_number_of_cells=5000_density=0.7_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_80/dat/culture_initial_number_of_cells=5000_density=0.8_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_81/dat/culture_initial_number_of_cells=5000_density=0.81_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_82/dat/culture_initial_number_of_cells=5000_density=0.82_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_83/dat/culture_initial_number_of_cells=5000_density=0.83_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_84/dat/culture_initial_number_of_cells=5000_density=0.84_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_85/dat/culture_initial_number_of_cells=5000_density=0.85_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_86/dat/culture_initial_number_of_cells=5000_density=0.86_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_87/dat/culture_initial_number_of_cells=5000_density=0.87_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_88/dat/culture_initial_number_of_cells=5000_density=0.88_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_90/dat/culture_initial_number_of_cells=5000_density=0.9_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat

# Ignorar todo dentro de dat_order_parameters/
data/N=5_000/0_40/dat_order_parameters/*
data/N=5_000/0_50/dat_order_parameters/*
data/N=5_000/0_60/dat_order_parameters/*
data/N=5_000/0_70/dat_order_parameters/*
data/N=5_000/0_80/dat_order_parameters/*
data/N=5_000/0_81/dat_order_parameters/*
data/N=5_000/0_82/dat_order_parameters/*
data/N=5_000/0_83/dat_order_parameters/*
data/N=5_000/0_84/dat_order_parameters/*
data/N=5_000/0_85/dat_order_parameters/*
data/N=5_000/0_86/dat_order_parameters/*
data/N=5_000/0_87/dat_order_parameters/*
data/N=5_000/0_88/dat_order_parameters/*
data/N=5_000/0_90/dat_order_parameters/*

# EXCEPTUAR archivos específicos en dat_order_parameters/
!data/N=5_000/0_40/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.4_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_50/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.5_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_60/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.6_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_70/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.7_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_80/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.8_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_81/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.81_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_82/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.82_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_83/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.83_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_84/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.84_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_85/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.85_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_86/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.86_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_87/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.87_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_88/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.88_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
!data/N=5_000/0_90/dat_order_parameters/op_culture_initial_number_of_cells=5000_density=0.9_force=Anisotropic_Grosmann_k=3.33_gamma=3_With_Noise_eta=0.033_With_Shrinking_rng_seed=7713914261614_step=00000.dat
